page-list {

  .background-nocontent {
    background: url('../assets/img/nocontent.png') no-repeat center center fixed;
    background-color: map-get($colors, 'light');
  }

  .background {
    //background-color: map-get($colors, 'light');
    background: url('../assets/img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
  }

  .flex {
    display: flex;
  }

  .radius {
    border-radius: 13px;
  }

  .item-md {
    padding-left: 10px;
}

  .noPadding {
    padding: 0;
    padding-left : 10px;
  }

  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0;
    }

  .noMarging {
    margin: 0px;
  }

  .itemGroup {
      margin: 13px 0px 13px 0px;
    }

  ion-chip {
    margin : 2px !important;
  }

  .range-md.range-has-pin {
    padding-top: 7px;
  }

  .pad7 {
    padding-top: 7px;
  }

  .item-divider-ios {
    padding-left: 16px;
    color: #222;
    background-color: white;
  }

  .secondary {
    background-color: map-get($colors, 'secondary');
  }

  .ngx-pagination {
    text-align: center;
    margin-left: 0;
    margin-bottom: 1rem;
    padding-left: 2px;
    padding-right: 2px;
  }

  .footerRound {
    border-radius: 13px;
  }

  .has-refresher > .scroll-content {
    border-top: none;
  }

}

.loading-wrapper {
  background: transparent !important;
  box-shadow: none !important;
  }
