<ion-header>
  <ion-navbar color="secondary" class="footerRound">
    <ion-toolbar class="footerRound">
      <button ion-button menuToggle item-start>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-searchbar (ionInput)="getItems($event)" mode="ios"></ion-searchbar>

      <ion-buttons right>
        <button ion-button icon-only (click)="toggleToolbar()">
          <ion-icon name="book"></ion-icon>
        </button>
      </ion-buttons>

    </ion-toolbar>
    <ion-toolbar *ngIf="isOptions" color="secondary" class="footerRound">

      <ion-grid>
        <ion-row>
          <ion-col col-6 no-lines class="alignCenter">
            <ion-chip #chip1>
              <ion-icon name="bookmark" color="primary"></ion-icon>
              <ion-label>{{itemsPage}} strains per page</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col col-6 no-lines class="alignCenter">
              <ion-chip #chip2>
                <ion-icon name="bookmarks" color="primary"></ion-icon>
                <ion-label>{{items.length}} strains</ion-label>
              </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <ion-range min="1" max="200" pin="true" [(ngModel)]="itemsPage">
              <ion-label range-left>1</ion-label>
              <ion-label range-right>200</ion-label>
            </ion-range>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <ion-item color="secondary" class="font-white" class="noMarging noPadding">
              <ion-label>Sativa</ion-label>
              <ion-checkbox color="light" mode="ios" [(ngModel)]="isSativa" (click)="filter()" item-end></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item color="secondary" class="font-white" class="noMarging noPadding">
              <ion-label>Hybrid</ion-label>
              <ion-checkbox color="light" mode="ios" [(ngModel)]="isHybrid" (click)="filter()" item-end></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item color="secondary" class="font-white" class="noMarging noPadding">
              <ion-label>Indica</ion-label>
              <ion-checkbox color="light" mode="ios" [(ngModel)]="isIndica" (click)="filter()" item-end></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-toolbar>

  </ion-navbar>
</ion-header>


<ion-content [ngClass]="(!items.length)?'background-nocontent':'background'">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>

<ion-list>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let strain of items | paginate: { itemsPerPage: itemsPage, currentPage: p }" col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3>
        <ion-card class="radius">
          <ion-item color="secondary">
            <ion-avatar item-start>
              <img src="assets/img/weed.jpg"/>
            </ion-avatar>
            <h2 text-wrap>
              {{strain.name}} #{{strain.content.id}}
            </h2>
            <p>
              Race : {{strain.content.race}}
            </p>
            <button ion-button color="light" round item-end (click)="goDetails(strain.name, strain.content.race)">Details</button>
            <ion-icon *ngIf="strain.favorite == true" name="md-star" (click)="toggleFavorite(strain)" item-end></ion-icon>
            <ion-icon *ngIf="strain.favorite == false" name="md-star-outline" (click)="toggleFavorite(strain)" item-end></ion-icon>
          </ion-item>
          <ion-card-content>

            <ion-item-divider no-lines>Flavors</ion-item-divider>

            <ion-chip *ngFor="let flavor of strain.content.flavors">
              <ion-icon name="md-leaf" color="savor"></ion-icon>
              <ion-label>{{flavor}}</ion-label>
            </ion-chip>

            <ion-item-divider no-lines>Benefits</ion-item-divider>

            <ion-chip *ngFor="let good of strain.content.effects.positive">
              <ion-icon name="happy" color="secondary"></ion-icon>
              <ion-label>{{good}}</ion-label>
            </ion-chip>

            <ion-item-divider no-lines>Negative effects</ion-item-divider>

            <ion-chip *ngFor="let bad of strain.content.effects.negative">
              <ion-icon name="sad" color="danger"></ion-icon>
              <ion-label>{{bad}}</ion-label>
            </ion-chip>

            <ion-item-divider no-lines>Medical treatment against</ion-item-divider>

            <ion-chip *ngFor="let med of strain.content.effects.medical">
              <ion-icon name="medkit" color="primary"></ion-icon>
              <ion-label>{{med}}</ion-label>
            </ion-chip>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-list>

<ion-fab right bottom>
  <button ion-fab color="secondary"><ion-icon name="options"></ion-icon></button>
  <ion-fab-list side="top">
    <button ion-fab color="primary" (click)="notImplementedYet()">
      <ion-icon color="light" name="medkit"></ion-icon>
    </button>
    <button ion-fab color="danger" (click)="notImplementedYet()">
      <ion-icon color="light" name="sad"></ion-icon>
    </button>
    <button ion-fab color="secondary" (click)="notImplementedYet()">
      <ion-icon color="light" name="happy"></ion-icon>
    </button>
  </ion-fab-list>
  <ion-fab-list side="left">
    <button ion-fab (click)="toggleOnlyFavorite()" color="secondary">
      <ion-icon *ngIf="favoriteEnable" color="light" name="star"></ion-icon>
      <ion-icon *ngIf="!favoriteEnable" color="light" name="star-outline"></ion-icon>
    </button>
    <button ion-fab color="savor" (click)="notImplementedYet()">
      <ion-icon color="light" name="md-leaf"></ion-icon>
    </button>
  </ion-fab-list>
</ion-fab>

</ion-content>

<ion-footer class="footerRound">
  <ion-toolbar color="secondary" class="footerRound">
    <pagination-controls previousLabel="" nextLabel="" autoHide="true" (pageChange)="p = $event"></pagination-controls>
  </ion-toolbar>
</ion-footer>
