.background {
  background: url('../assets/img/wallpaper.png') no-repeat center center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

.item-menu {
  background: transparent;
  color: lightgreen;
}

.scroll-content {
  overflow-x: auto;
  overflow-y: auto;
}
